<h4> Borrow or Walk Away?</h4>

<form class="form-horizontal" action="/game/refill" method="post">
  <div class="control-group">
    <label class="control-label" for="userMoney">Borrowing Capital</label>
    <div class="controls">
      <input type="number" name="userMoney" placeholder="Borrowed Capital">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>

