<h4> Set Player Name and Starting Capital</h4>

<form class="form-horizontal" action="/setname" method="post">
  <div class="control-group">
    <label class="control-label" for="userName">Name</label>
    <div class="controls">
      <input type="text" name="userName" placeholder="Name" pattern="[A-za-z]">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="userMoney">Starting Capital</label>
    <div class="controls">
      <input type="number" name="userMoney" placeholder="Capital">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>
